<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="bower_components/boostrap/dist/css/bootstrap.min.css")
        title Document
    body
    nav
        ul.menu
            li: a(href= "/ejerciciouno") primer ejercicio
            li: a(href= "/ejerciciodos") segundo ejercicio
            li: a(href= "/ejerciciotres") tercer ejercicio
            li: a(href= "/ejerciciocuatro") cuarto ejercicio
            li: a(href= "/ejerciciocinco") quinto ejercicio
            li: a(href= "/ejercicioseis") sexto ejercicio
            li: a(href= "/ejerciciosiete") septimo ejercicio
            li: a(href= "/ejercicioocho") octavo ejercicio